{% extends 'projects/main.html' %}

{% load static %}

{% block content %}
<h1 class="text-center bg-warning mt-1">purchase my latest courses</h1>
   
<div class="row tty" >
        {% for projects in project  %}
        <div class="card" style="max-width: 600px;">
            <div class="row g-0">
              <div class="col-md-7">
                <img src="{{projects.featured_image.url}}" class="img-fluid rounded-start"   alt="..." style="width:100%;">
              </div>
              <div class="col-md-5">
                <div class="card-body bg-secondary">
                  <h5 class="card-title text-dark">{{projects.title}}</h5>
                  <p class="card-text">{{projects.description}}</p>
                  <p class="card-text"><small class="text-muted">{{projects.created}}</small></p>
                </div>
                <a  href="#" class="btn btn-info mt-1">purchae course</a>
              </div>
            </div>
          </div>
          {% endfor %}
    
    
    
</div>




{% endblock content %}


