body{
    padding: 0;
    margin: 0;
}

#ff{
    margin-left: 400px;
}

.picha{

    height: 400px;
    width: 100%;
}

.tty{
    background-color: rgb(236, 214, 186);
    margin-left: 20px;
    margin-right: 8px;
    padding:2px;
}